.page-title {
  margin-top: 5%;
}

.side-paragraph {
  left: 20%;
  position: absolute;
  text-align: left;
  top: 43%;
  width: 40%
}

.button {
  font-size: 18px;
  height: 8%;
  position: absolute;
  width: 12%
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.rule-text {
  left: 30%;
  position: absolute;
  top: 25%;
  width: 40%;
  text-align: left;
}

.main-text {
  left: 25%;
  position: absolute;
  top: 25%;
  width: 50%;
  text-align: left
}

.arrow-button {
  background-color: white;
  border: none;
  height: 12%;
  position: absolute;
}

.arrow-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  /* crop the image so that it's circular*/
}

.arrow-img {
  height: 100%;
  width: 100%
}

.carousel-dots {
  position: absolute;
  left: 48%
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: grey;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 3px 3px 3px 3px;
}

.next {
  right: 20%;
}

.prev {
  left: 20%;
}

.float-text {
  position: absolute;
  top: 57%;
  font-size: 20px;
  background-color: grey
}
